.input {
  padding: 7px 15px;
  height: 36px;
  color: var(--primary);
  border: none;
  outline-color: var(--accent);
  background-color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font-family);
}

.input ::placeholder {
  color: var(--placeholder-color);
}

.error {
  border: 1px solid var(--orange);
  outline: 1px solid var(--orange);
  ;
}

.inputWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--orange);
}