.feature {
    grid-column: start / middle;
}

.charact {
    display: grid;
    align-items: baseline;

    padding-right: 60px;

    font-size: 16px;
    line-height: 2;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
}

.charactName {
    font-weight: bold;
}

.charactDots {
    margin-bottom: 5px;

    border-bottom: 1px dashed var(--border-color);
}

@media screen and (width <= 1320px) {
    .feature {
        grid-area: feature;

        margin-bottom: 20px;
    }

.charact {
    padding-right: 0;
}
}