.feature {
    grid-column: start / middle;
}

.charact {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-right: 60px;
    font-size: 16px;
    line-height: 2;
    align-items: baseline;
    gap: 10px;
}

.charactName {
    font-weight: bold;
}

.charactDots {
    border-bottom: 1px dashed var(--border-color);
    margin-bottom: 5px;
}
@media screen and (max-width: 1320px) {
    .feature {
        grid-area: feature;
        margin-bottom: 20px;
    }
.charact {
    padding-right: 0;
}
}