:root {
  --primary: #3B434E;
  --secondary: #6c7077;
  --white: #FFFFFF;
  --accent: #7351f5;
  --accent-hover:#5734e4;
  --green: #1c7751;
  --light-green: #C8F8E4;
  --orange: #FC836D;
  --light-red: #f1c0b7;
  --gold: #DCB44E;

  --bg-body: #F5F6F8;
  --bg-primary: #FFFFFF;
  --bg-secondary: #F9F8FF;

  --border-color: #EBEBEB;
  --hr-color: #D2D2D2;
  --placeholder-color: #A4A4A4;

  --font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;

  display: grid;
  grid-template-columns: auto 250px minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr auto;

  background: var(--bg-body);
  color: var(--primary);
  min-height: 100vh;
  gap: 40px 30px;
  grid-template-areas:
    ". header header ."
    ". aside main ."
    "footer footer footer footer";
}

header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

main {
  grid-area: main;

  outline: none;
  }
  
  /* footer {
      grid-area: footer;
    } */
  
        @media (max-width: 825px) {
    body {
      grid-template-columns: minmax(320px, 1fr);
      grid-template-areas:
        "header"
        "main"
        "footer";
      gap: 10px;
    }
  
                                .aside {
      display: none !important;
    }
  
    main {
      padding: 15px;
    }
  }
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

