.skipLink {
    display: block;
    position: fixed;
    left: 100px;
    top: 0;
    overflow: hidden;
    height: 0;
    background-color: var(--accent);
    color: var(--white);
}

.displayed {
    height: auto;
}