.ratingWrapper {
  position: relative;
      width: 125px;
}
.filled svg {
  fill: var(--accent);
}

.starItem {
  margin-right: 5px;
}

.star {
  display: inline-block;
  height: 20px;
}

/* .star svg {
  margin-right: 5px;
} */
.editable {
  cursor: pointer
}
.error svg {
  stroke: var(--orange);

}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--orange);
}