.price {
    grid-column: pricestart / priceend;

    white-space: nowrap;

}

.credit {
    grid-column: creditstart / creditend;

    white-space: nowrap;
}

.price,
.credit {
    position: relative;

    align-self: flex-end;

    font-size: 20px;
}

.month {
    font-size: 14px;
}

.oldPrice {
    margin-left: 5px;
}

@media screen and (width <= 1320px) {
    .price {
        grid-area: price;
    }

    .credit {
        grid-area: credit;
    }
}

@media screen and (width <= 640px) {
    .price,
    .credit {
        margin-bottom: 10px;
    }
}