.advBlock {
    grid-column: middle / end;

    font-size: 16px;
}

.advTitle {
    margin-bottom: 5px;

    font-weight: bold;
}

.advantages {
    margin-bottom: 20px;
    padding-left: 15px;

    border-left: 2px solid #1DC37E;
}

.disadvantages {
    padding-left: 15px;

    border-left: 2px solid var(--orange);
}

@media screen and (width <= 1320px) {
    .advBlock {
        grid-area: advBlock;
    }
}